    @import 'vars';
    @import 'media';
    @import 'libs';
    @import 'fonts';
    @import 'global';

    .header {
        &__inner {
            background-color: rgba(0, 0, 0, .5);
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            // z-index: -1;
            // padding: 30px 0;

            &-fullscreen {
                position: absolute;
                top: -35px;
                left: 0;
                width: 100%;
                z-index: -2;
            }

            &-box {
                display: flex;
                justify-content: space-between;
                align-items: center;
                height: 110px;
                margin-top: 30px;
            }

            &-social {
                a {
                    margin-right: 15px;

                    &::before {
                        color: #fff;
                        font-size: 20px;
                        transition: all .5s;
                        -webkit-transition: all .5s;
                        -moz-transition: all .5s;
                        -ms-transition: all .5s;
                        -o-transition: all .5s;
                    }

                    &:hover {
                        &::before {
                            color: $yellow;
                            transition: all .5s;
                            -webkit-transition: all .5s;
                            -moz-transition: all .5s;
                            -ms-transition: all .5s;
                            -o-transition: all .5s;
                        }
                    }
                }

                select {
                    background-color: transparent;
                    border: none;
                    color: #fff;
                    font-size: 20px;
                    font-weight: 700;
                    text-transform: uppercase;
                    outline: none;

                    option {
                        color: #333;
                    }
                }
            }

            &-info {
                height: 650px;
                width: 100%;
                position: relative;
            }

            &-descr {
                position: absolute;
                bottom: 80px;
                max-width: 380px;
                right: 0;
                color: $yellow;
            }

            &-title {
                font-size: 48px;
                line-height: 50px;
                font-weight: 700;
                max-width: 275px;
                margin-bottom: 15px;
                text-transform: uppercase;
            }

            &-text {
                font-size: 18px;
                line-height: 24px;
                margin-bottom: 80px;
                position: relative;
                padding-right: 25px;

                a {
                    position: absolute;
                    right: 0;
                    margin-top: -20px;
                    top: 50%;

                    &::before {
                        color: $yellow;
                        font-size: 30px;
                    }
                }
            }

            &-link {
                width: 124px;
                background-color: $yellow;
                text-align: center;
                text-transform: uppercase;
                color: #000;
                padding: 15px 10px;
                font-weight: 500;
            }
        }

        &-wrapper {
            overflow: hidden;
            position: relative;
            width: 100%;
            height: 750px;
        }
    }

    .header__inner-adv {
        max-width: 275px;
    }

    .header__inner-search {
        width: 100%;
        margin-top: 40px;
        background-color: $orange;
    }

    .wish {
        &-box {
            background-color: #f8f8f8;
            height: 30px;
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding: 0 30px;

            a {
                color: $orange;
                text-transform: uppercase;
                font-size: 12px;
                font-weight: 500;
            }
        }

        &-cart {
            padding: 15px 25px 8px;

            &__item {
                display: flex;
                justify-content: space-between;
                align-items: center;
                margin-bottom: 20px;
            }

            &__buy {
                display: flex;
                align-items: center;

                .icon-shopping-cart {
                    margin-right: 15px;

                    &::before {
                        font-size: 40px;
                        color: $yellow;
                    }
                }
            }

            &__price {
                color: #fff;
                font-size: 18px;
                font-weight: 600;
                margin-bottom: 5px;
            }

            &__quantity {
                font-size: 12px;
                color: $yellow;
            }

            &__close {
                .lnr-cross {
                    cursor: pointer;

                    &::before {
                        color: $yellow;
                        font-size: 20px;
                    }
                }

                span {
                    margin-top: 10px;
                    display: block;
                    text-transform: uppercase;
                    font-size: 10px;
                    color: #333333;
                    font-weight: 500;
                }
            }

            &__links {
                background-color: $orange;
                height: auto;
                padding: 0 15px;

                a {
                    color: #fff;
                }
            }
        }

    }

    .search {
        form {
            height: 35px;
            position: relative;

            &::after {
                content: '\f00d';
                font-family: 'icomoon';
                position: absolute;
                right: 40px;
                color: #686868;
                font-size: 12px;
                top: 10px;
                cursor: pointer;
            }

            input {
                width: 100%;
                height: 100%;
                border: none;
                padding: 10px 55px 10px 20px;
                outline: none;
                position: relative;

                &::placeholder {
                    color: #333;
                    text-transform: uppercase;
                    font-size: 10px;
                    font-weight: 500;
                }
            }

            button {
                position: absolute;
                right: 0;
                border: none;
                width: 34px;
                height: 35px;
                background-color: #333333;
            }

            .icon-search {
                cursor: pointer;

                &::before {
                    color: #fff;
                    font-size: 15px;
                }
            }
        }
    }

    .header__inner-poster {
        margin-top: 20px;
        background-color: $yellow;
        padding: 20px;
        height: 300px;
    }

    .poster-box {
        margin-top: 60px;
        color: #333;

        &__title {
            font-size: 30px;
            text-transform: uppercase;
            font-weight: 700;
            margin-bottom: 20px;
        }

        &__text {
            font-size: 18px;
            line-height: 20px;
            font-weight: 600;
        }
    }

    //start product
    .product {
        &__inner {
            background-color: #f8f8f8;
            padding-bottom: 25px;

            &-content {
                display: flex;
                z-index: 99;
            }
        }

        .arrow {
            position: absolute;
            border: none;
            background-color: transparent;
            cursor: pointer;

            span {
                font-size: 20px;
            }
        }

        .prev-arrow {
            right: 55px;
            top: -40px;
        }

        .next-arrow {
            right: 30px;
            top: -40px;
        }
    }


    .aside {
        width: 275px;
        margin-right: 25px;
        margin-top: -30px;
        z-index: 99;

        &__menu {
            background-color: #26d2fc;
            text-transform: uppercase;
            margin-bottom: 30px;

            &-title {
                height: 65px;
                padding: 0 40px;
                display: flex;
                align-items: center;
                color: #fff;
                background-color: #000;
                font-weight: 700;
            }

            &-list {
                li {
                    padding: 15px 40px;
                    transition: all .3s;
                    cursor: pointer;

                    &:hover {
                        background-color: #000;

                        a {
                            color: #fff;
                        }
                    }

                    a {
                        font-weight: 700;
                    }
                }
            }
        }

        .header__inner-poster {
            background-color: #e0e0e0;
            position: relative;
            margin-bottom: 30px;
        }

        .poster-box {
            margin-top: 0;
        }

        .poster-box__title {
            max-width: 90px;
            margin-bottom: 0;
            position: absolute;
            right: 30px;
            bottom: 70px;
        }

        &-tags {
            margin-bottom: 30px;
            padding: 30px;
            background-color: #fff;

            &+.aside-tags {
                margin-bottom: 0;
            }

            &__title {
                font-size: 24px;
                font-weight: 800;
                font-style: italic;
                margin-bottom: 25px;
            }

            &__box {
                display: flex;
                flex-wrap: wrap;
                margin-bottom: 20px;

                div {
                    padding: 10px 12px;
                    background-color: #e9e9e9;
                    cursor: pointer;
                    font-size: 12px;
                    font-weight: 700;
                    @include transition;

                    &:hover {
                        background-color: $yellow;
                    }

                    &+div {
                        margin-right: 10px;
                        margin-bottom: 10px;
                    }

                    &:nth-child(1) {
                        margin-right: 10px;
                        margin-bottom: 10px;
                    }
                }

                ul {
                    li {
                        color: #555;

                        &+li {
                            margin-top: 20px;
                        }
                    }
                }
            }

            &__btn {
                font-size: 14px;
                @include boldItalic;

                a {
                    position: relative;
                    cursor: pointer;

                    &::after {
                        content: '\f178';
                        font-family: 'icomoon';
                        position: absolute;
                        margin-left: 10px;
                    }
                }
            }
        }
    }

    .product__inner-box {
        background-color: #f8f8f8;
        width: 870px;
        margin-top: -30px;
        z-index: 99;
    }

    .product__inner-descr {
        height: 75px;
        padding: 0 25px;
        display: flex;
        align-items: center;
    }

    .product__inner-title {
        font-size: 22px;
        @include boldItalic;
        color: #707070;
        text-transform: uppercase;
    }

    .product__inner-contents {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    .product__item {
        margin-bottom: 30px;
        width: 270px;
        background-color: #fff;
        padding: 12px;
        position: relative;
        cursor: pointer;
        height: 320px;

        &-category {
            position: absolute;
            right: 0;
            width: 0;
            top: 0;
            height: 0;
            border-top: 45px solid $orange;
            border-left: 45px solid transparent;
            display: none;

            span {
                font-size: 9px;
                position: absolute;
                display: block;
                top: -35px;
                left: -24px;
                color: #fff;
                text-transform: uppercase;
            }
        }

        &-info {
            display: flex;
            height: 80px;
            justify-content: space-between;
            padding: 20px 0;
            color: #333333;
            font-weight: 700;
        }

        &-price {

            .new-price,
            .old-price {
                font-size: 18px;
            }

            .old-price {
                margin-top: 5px;
                text-decoration: line-through;
                color: $orange;
                display: none;
            }
        }
    }

    .old-price.hot-price {
        display: block;
    }

    .product__item-category.hot {
        border-top: 45px solid $yellow;
        border-left: 45px solid transparent;
        display: block;

        span {
            color: #333;
        }
    }

    .product__item-category.new {
        display: block;
    }

    .product__carousel {
        margin-top: 50px;
    }

    .product__carousel-contents {
        justify-content: flex-start;
        margin-left: -30px;

        .product__carousel-item {
            flex-basis: calc(33.3% - 30px);
            margin-left: 30px;
        }
    }


    //end product

    //start brand
    .brand {
        background-color: #f8f8f8;

        &__inner {
            background-color: #eaeaea;

            &-bun {
                background-repeat: no-repeat;
                background-position: center;
                background-size: auto;
                height: 160px;
                background-color: #fff;
            }

            &-title {
                padding: 40px 0 30px;
                font-weight: 800;
                font-style: italic;
                font-size: 22px;
                color: #333;
                position: relative;
                display: flex;
                align-items: center;
                justify-content: center;

                .icon-instagram {
                    margin-right: 10px;

                    &::before {
                        font-size: 25px;
                    }
                }

                a {
                    font-size: 18px;
                }
            }

            &-posts {
                display: flex;
                justify-content: space-between;
                padding-bottom: 50px;
            }

            &-social {
                display: flex;
            }
        }

        .owl-nav {
            display: none;
        }

        &__item {
            cursor: pointer;
        }

        &__item-social {
            width: 33.3%;
            min-height: 150px;
            display: flex;
            justify-content: center;
            align-items: center;
        }

        .icon-facebook,
        .icon-twitter,
        .icon-pinterest-p {
            &::before {
                color: #fff;
                font-size: 60px;
            }
        }
    }

    .brand__item-face {
        background-color: #3b5997;
    }

    .brand__item-twi {
        background-color: #3fccfd;
    }

    .brand__item-pint {
        background-color: #cb2027;
    }

    //end brand

    //start footer
    .footer {
        &__inner {
            color: #fff;

            &-top {
                background-color: #373737;
            }

            &-bottom {
                background-color: #333333;
            }

            &-box {
                display: flex;
                height: 45px;
                align-items: center;
                justify-content: space-between;

                .header__inner-social {
                    a {
                        &::before {
                            font-size: 15px;
                        }
                    }
                }
            }

            &-content {
                padding: 70px 0 60px;
                display: flex;
                justify-content: space-between;
            }

            &-title {
                font-size: 18px;
                font-weight: 500;
                margin-bottom: 30px;
            }

            &-list {
                li {
                    a {
                        color: #fff;
                        font-size: 12px;
                        line-height: 18px;
                        text-transform: capitalize;
                    }
                }
            }

            &-descr {
                font-size: 12px;
                line-height: 18px;
                margin-bottom: 15px;
            }

            &-item {
                width: 100%;

                form {
                    position: relative;

                    input {
                        width: 100%;
                        height: 30px;
                        padding: 0 75px 0 20px;
                        background-color: #fff51f;
                        border: none;
                        outline: none;

                        &::placeholder {
                            text-transform: uppercase;
                            font-size: 12px;
                            font-weight: 700;
                            color: rgba(51, 51, 51, .5);
                        }
                    }

                    button {
                        position: absolute;
                        right: 0;
                        height: 30px;
                        text-transform: uppercase;
                        color: #fff;
                        background-color: #000;
                        font-size: 12px;
                        cursor: pointer;
                        width: 70px;
                        border: none;
                    }
                }
            }

            &-pay {
                margin-top: 45px;

                a {
                    background-image: url(../img/footer/sprites.png);
                    background-repeat: no-repeat;
                    width: 38px;
                    height: 22px;

                    &+a {
                        margin-left: 5px;
                    }
                }
            }
        }

        .item-category {
            max-width: 120px;
        }

        .item-form {
            max-width: 280px;
        }

        .item-contacts {
            max-width: 240px;

            .footer__inner-descr {
                margin-bottom: 5px;
            }
        }
    }

    .bg-pay1 {
        background: 1px -0;
    }

    .bg-pay2 {
        background: -35px -0;
    }

    .bg-pay3 {
        background: -71px -0;
    }

    .bg-pay4 {
        background: -107px -0;
    }

    .bg-pay5 {
        background: -143px -0;
    }

    .bg-pay6 {
        background: -179px -0;
    }

    .footer__inner-contacts {
        a {
            color: #fff;
            font-size: 14px;
            line-height: 36px;
            font-weight: 500;

            span {
                margin-left: 15px;
                transition: all .3s;
                -webkit-transition: all .3s;
                -moz-transition: all .3s;
                -ms-transition: all .3s;
                -o-transition: all .3s;

                &:hover {
                    color: $yellow;
                }
            }
        }
    }

    .footer__box-title {
        font-size: 12px;
    }

    //end footer
    //start apparel
    .apparel {
        .header__inner {
            position: inherit;
            height: 350px;
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;

            &-box {
                margin-top: 0;
            }
        }
    }

    //end apparel
    //start app
    .app {
        .product {
            &__inner {
                padding-bottom: 70px;
            }
        }

        .aside,
        .product__inner-box {
            margin-top: 0;
        }

        &__inner-box {
            .app__inner-navigation {
                padding-top: 30px;
                display: flex;
                justify-content: space-between;
            }
        }

        &__inner-breadcrumb {
            li {
                display: inline-block;
                font-size: 12px;
                color: #989898;
                font-weight: 500;
                padding: 5px 6px;
                position: relative;

                &::before {
                    content: '\f101';
                    font-family: 'icomoon';
                    position: absolute;
                    right: -5px;
                }

                &:last-child {
                    &::before {
                        content: none;
                    }
                }

                &+li {
                    margin-left: 5px;
                }

                a {
                    color: #989898;

                    &:hover {
                        color: #4d4d4d;
                        transition: all .3s;
                        -webkit-transition: all .3s;
                        -moz-transition: all .3s;
                        -ms-transition: all .3s;
                        -o-transition: all .3s;
                    }
                }
            }

            .active {
                background-color: $yellow;
                color: #4d4d4d;
            }
        }

        &__inner-back {
            a {
                color: #989898;
                font-size: 12px;
                position: relative;

                &:hover {
                    color: #4d4d4d;
                    transition: all .3s;
                    -webkit-transition: all .3s;
                    -moz-transition: all .3s;
                    -ms-transition: all .3s;
                    -o-transition: all .3s;
                }

                &::before {
                    content: '\f100';
                    font-family: 'icomoon';
                    position: absolute;
                    left: -10px;
                }
            }
        }

        &__inner-control {
            margin-top: 45px;
            height: 40px;
            display: flex;
            justify-content: space-between;
            align-items: center;

            .control-sort,
            .control-view,
            .control-show,
            .control-pagination {
                display: flex;
                align-items: center;
            }
        }
    }

    .control-sort {
        &__options {
            select {
                max-width: 95px;
            }
        }
    }

    .control-view {
        &__btns {

            .icon-th-large,
            .icon-th-list {
                border: none;
                background-color: transparent;
                cursor: pointer;

                &::before {
                    color: #c0c0c0;
                    font-size: 18px;
                }
            }

            .active {
                &::before {
                    color: #26d2fc;
                }
            }
        }
    }

    .control-show {
        &__options {
            select {
                width: 65px;
                margin-right: 15px;
            }
        }
    }

    .control-pagination {
        &__list {
            li {
                display: inline-block;
                background-color: transparent;

                &+li {
                    margin-left: 5px;
                }

                a {
                    font-size: 14px;
                    font-weight: 600;
                    color: #333333;
                    padding: 6px 10px;
                    background-color: transparent;
                }

            }

            .lnr-chevron-right {
                &::before {
                    color: #a9a9a9;
                }
            }

            .active {
                background-color: #26d2fc;
                color: #fff;
            }
        }
    }

    .app__inner-products {
        margin-top: 25px;
        display: flex;
        justify-content: flex-start;
        margin-left: -30px;
        flex-wrap: wrap;

        .product__item {
            flex-basis: calc(33.3% - 30px);
            margin-left: 30px;
            width: 0;
            transition: all .5s;
            -webkit-transition: all .5s;
            -moz-transition: all .5s;
            -ms-transition: all .5s;
            -o-transition: all .5s;

            &-img {
                overflow: hidden;
            }

            &-text {
                display: none;
            }

            &-link {
                display: none;
            }
        }

        .active {
            flex-basis: calc(100% - 30px);
            height: auto;
            transition: all .5s;
            -webkit-transition: all .5s;
            -moz-transition: all .5s;
            -ms-transition: all .5s;
            -o-transition: all .5s;

            .product__item {
                &-text {
                    display: block;
                }

                &-descr {
                    display: flex;
                }

                &-img {
                    width: 100%;
                }

                &-info {
                    display: block;
                    margin-left: 30px;
                    height: auto;
                }

                &-name {
                    text-transform: uppercase;
                    margin-bottom: 20px;
                }

                &-text {
                    font-weight: 500;
                    color: #707070;
                    font-size: 12px;
                    line-height: 16px;
                    margin-bottom: 20px;
                }

                &-link {
                    display: block;
                    font-weight: 500;
                    text-align: right;
                    position: relative;
                    padding-right: 20px;

                    &::before {
                        content: '\f105';
                        font-family: 'icomoon';
                        position: absolute;
                        right: 0;
                    }

                    &:hover {
                        a {
                            color: #26d2fc;
                            transition: all .3s;
                            -webkit-transition: all .3s;
                            -moz-transition: all .3s;
                            -ms-transition: all .3s;
                            -o-transition: all .3s;
                        }

                        &::before {
                            color: #26d2fc;
                            transition: all .3s;
                            -webkit-transition: all .3s;
                            -moz-transition: all .3s;
                            -ms-transition: all .3s;
                            -o-transition: all .3s;
                        }
                    }
                }
            }
        }
    }

    .app__inner-control.control_bottom {
        margin-top: 0;
    }

    .aside__options-menu {
        display: none;
    }

    .actives {
        background-color: #000;

        a {
            color: #fff;
        }
    }

    //end app

    //start more
    .more {
        &__inner {
            &-info {
                margin: 50px 0 45px;
                display: flex;
            }

            &-slider {
                max-width: 375px;
            }

            &-options {
                margin-left: 45px;
            }
        }
    }

    .options__name {
        color: #353535;
        font-weight: 700;
        font-size: 24px;
        text-transform: uppercase;
        margin-bottom: 10px;
    }

    .options__rate {
        display: flex;
        align-items: center;
        margin-bottom: 35px;

        .jq-ry-container {
            padding: 0;
        }

        span {
            font-size: 12px;
            color: #353535;
            font-weight: 600;
            display: block;
            margin-left: 10px;
        }
    }

    .slider-for {
        margin-bottom: 25px;
    }

    .slider-nav {
        display: flex;
        justify-content: flex-start;
        margin-left: -30px;
        max-width: 270px;
        margin: 0 auto;

        .next-arrow {
            top: 50%;
            right: -50px;
        }

        .prev-arrow {
            top: 50%;
            left: -50px;
        }

        &__item {
            img {
                margin: 0 auto;
            }
        }
    }

    .options__box {
        display: flex;
        justify-content: space-between;
        align-items: center;

        &-price {
            font-size: 22px;
            font-weight: 500;
        }
    }

    .options__box-title {
        color: #666669;

        span {
            color: #000;
            margin-left: 5px;
            font-weight: 500;
        }
    }

    .options__descr {
        &-text {
            color: #707070;
            line-height: 20px;
        }
    }

    .options__size {
        margin-bottom: 20px;

        &-chart {
            display: flex;

            span {
                width: 25px;
                height: 30px;
                background-color: #fff;
                display: flex;
                justify-content: center;
                align-items: center;
                color: #333333;
                cursor: pointer;
                font-weight: 500;

                &+span {
                    margin-left: 10px;
                }
            }

            .active {
                color: #ff4a4a;
            }
        }
    }

    .options__quantity {
        display: flex;
        justify-content: space-between;

        &-calc {
            span {
                font-size: 12px;
                color: #333333;
                margin-bottom: 5px;
                line-height: 20px;
                font-weight: 500;
            }

            form {
                display: flex;
                align-items: center;

                input {
                    width: 30px;
                    height: 30px;
                    border: 1px solid #efefef;
                    text-align: center;
                    outline: none;

                    &::placeholder {
                        color: #9b9b9b;
                    }
                }

                .icon-plus1 {
                    border: none;
                    background-color: transparent;
                    cursor: pointer;

                    &::before {
                        color: #aaaaaa;
                        font-size: 20px;
                    }
                }
            }
        }

        &-cart {
            a {
                width: 130px;
                padding: 18px 10px;
                background-color: #fb4d01;
                text-align: center;
                color: #fff;
                text-transform: uppercase;
                font-size: 16px;
                font-weight: 500;
            }
        }

        &-list {
            ul {
                li {
                    color: #353535;
                    line-height: 20px;
                    font-size: 12px;
                    font-weight: 600;
                    cursor: pointer;
                    position: relative;
                    padding-left: 15px;

                    &::before {
                        content: '\e900';
                        position: absolute;
                        font-family: 'icomoon';
                        font-size: 12px;
                        left: 0;
                    }
                }
            }
        }
    }

    .more__tabs {
        .tab-item {
            display: none;
            font-size: 12px;
            color: #808080;
            line-height: 20px;

            p {
                margin-bottom: 20px;
            }

            &:first-child {
                display: block;
            }
        }

        .tabs {
            height: 35px;

            .tab {
                width: 160px;
                padding: 15px 10px;
                font-size: 12px;
                text-transform: uppercase;
                color: #333333;
                font-weight: 600;
                cursor: pointer;
            }

            .active {
                background-color: #26d2fc;
            }
        }

        .tab_content {
            border: 1px solid #d6d4d4;
            padding: 12px 13px;
            margin-top: -4px;
        }
    }

    .more-slider {
        margin-top: 100px;
        overflow-x: hidden;

        &__title {
            font-size: 30px;
            font-weight: 800;
            color: #333333;
            text-transform: uppercase;
            margin-bottom: 35px;
        }

        &-box {
            display: flex;
            justify-content: flex-start;
            flex-wrap: wrap;
            margin-left: - 30px;

            .arrow {
                top: 50%;
                z-index: 99;
                background-color: #26d2fc;
                height: 40px;
                margin-top: -40px;
            }

            .prev-arrow {
                left: 30px;
            }

            .next-arrow {
                right: 0;
            }
        }

        &__item {
            flex-basis: calc(33.3% - 30px);
            margin-left: 30px;
        }
    }

    .view-slider {
        .more-slider-box {
            .arrow {
                background-color: $yellow;
            }
        }
    }


    //end more

    //start shop
    .shop.more__tabs {
        margin-top: 30px;

        .tab_content {
            border: none;
            padding: 0;

            .tab-item {
                display: grid;
                grid-template-columns: 4fr 2fr;
                grid-template-rows: [row-1] 390px;
                grid-column-gap: 10px;

                &__product {
                    display: grid;
                    grid-template-rows: 20px 325px 120px;
                }
                &__value{
                    display: grid;
                    grid-template-columns: 3fr 1fr 1fr 1fr;
                    border-bottom: 1px solid #e6e6e6;
                    span{
                        font-size: 12px;
                        font-weight: 600;
                        text-transform: uppercase;
                        color: #333333;
                        text-align: center;
                    }
                }
            }
        }

        .tabs {
            margin-bottom: 33px;

            .tab {
                width: 100%;
                font-size: 24px;
                color: #aaaaaa;
                font-weight: 500;
                padding: 0;
                padding-left: 40px;
                position: relative;

                &::before {
                    content: '1';
                    position: absolute;
                    width: 30px;
                    height: 30px;
                    border: 1px solid #afafaf;
                    border-radius: 50%;
                    -webkit-border-radius: 50%;
                    -moz-border-radius: 50%;
                    -ms-border-radius: 50%;
                    -o-border-radius: 50%;
                    color: #afafaf;
                    left: 0;
                    text-align: center;
                }

                &+.tab {
                    margin-left: 35px;
                }
            }

            .active {
                background-color: transparent;
                color: #ff0101;

                &::before {
                    color: #ff0101;
                    border: 1px solid #ff0101;
                }
            }
        }
    }
    .select__item{
        position: relative;
        border-bottom: 1px solid #e6e6e6;
        padding: 15px 0;
        .lnr-cross{
            position: absolute;
            right: -10px;
            top: 15px;
            border: none;
            background-color: transparent;
            &::before{
                color: #ff0101;
                font-size: 20px;
                cursor: pointer;
            }
        }
        &-content{
            display: grid;
            grid-template-columns: 3fr 1fr 1fr 1fr;
        }
        &-descr{
            display: flex;
        }
        &-img{
            margin-right: 15px;
        }
        &-name{
            font-size: 14px;
            color: #353535;
            font-weight: 700;
            text-transform: uppercase;
            margin-bottom: 5px;
        }
        &-text{
            font-size: 12px;
            font-weight: 500;
            color: #707070;
            line-height: 16px;
            margin-bottom: 10px;
        }
        &-social{
            .header__inner-social{
                a{
                    &::before{
                        color: #000;
                        font-size: 15px;
                    }
                }
            }
        }
        &-price{
            font-size: 14px;
            color: #666669;
            text-align: center;
            font-weight: 500;
        }
        &-qty{
            margin: 0 auto;
            form{
                width: 70px;
                display: flex;
                align-items: center;
                input{
                    border: 1px solid #f0f0f0;
                    width: 30px;
                    text-align: center;
                    cursor: pointer;
                    outline: none;
                    padding: 8px 0;
                    margin: 0 9px;
                    &::placeholder{
                        text-align: center;
                    }
                }
                button{
                    width: 12px;
                    border: none;
                    outline: none;
                    cursor: pointer;
                    background-color: #fff;
                    height: 18px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    &::before{
                        color: #8a8a8a;
                    }
                }
            }
        }
    }

    //end shop