    @import 'vars';
    @import 'libs';
    @import 'fonts';
    @import 'global';

    .header {
        &__inner {
            overflow: hidden;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center;
            z-index: 0;
            position: fixed;

            &-content {
                display: flex;
                justify-content: space-between;
            }

            &-box {
                display: flex;
                justify-content: space-between;
                align-items: center;
                height: 110px;
                margin-top: 30px;
            }

            &-social {
                background-color: rgba(128, 128, 128, .6);
                padding: 10px 20px;
                border-radius: 20px;
                -webkit-border-radius: 20px;
                -moz-border-radius: 20px;
                -ms-border-radius: 20px;
                -o-border-radius: 20px;

                a {
                    margin-right: 15px;

                    &::before {
                        color: #fff;
                        font-size: 20px;
                        transition: all .5s;
                        -webkit-transition: all .5s;
                        -moz-transition: all .5s;
                        -ms-transition: all .5s;
                        -o-transition: all .5s;
                    }

                    &:hover {
                        &::before {
                            color: $yellow;
                            transition: all .5s;
                            -webkit-transition: all .5s;
                            -moz-transition: all .5s;
                            -ms-transition: all .5s;
                            -o-transition: all .5s;
                        }
                    }
                }

                select {
                    background-color: transparent;
                    border: none;
                    color: #fff;
                    font-size: 20px;
                    font-weight: 700;
                    text-transform: uppercase;
                    outline: none;
                    cursor: pointer;

                    option {
                        color: $text;
                    }
                }
            }

            &-info {
                height: 650px;
                width: 100%;
                position: relative;
            }

            &-descr {
                max-width: 380px;
                margin-top: 150px;
                color: $yellow;
            }

            &-title {
                font-size: 48px;
                line-height: 50px;
                font-weight: 700;
                max-width: 275px;
                margin-bottom: 15px;
                text-transform: uppercase;
            }

            &-text {
                font-size: 18px;
                line-height: 24px;
                margin-bottom: 80px;
                position: relative;
                padding-right: 25px;

                a {
                    position: absolute;
                    right: 0;
                    margin-top: -20px;
                    top: 50%;

                    &::before {
                        color: $yellow;
                        font-size: 30px;
                    }
                }
            }

            &-link {
                width: 124px;
                background-color: $yellow;
                text-align: center;
                text-transform: uppercase;
                color: #000;
                padding: 15px 10px;
                font-weight: 500;
            }
        }

        &-wrapper {
            overflow: hidden;
            position: relative;
            width: 100%;
            height: 850px;
        }
    }

    .header__inner-adv {
        max-width: 275px;
    }

    .header__inner-search {
        width: 100%;
        margin-top: 40px;
        background-color: $orange;
    }

    .wish {
        &-box {
            background-color: #f8f8f8;
            height: 30px;
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding: 0 30px;

            a {
                color: $orange;
                text-transform: uppercase;
                font-weight: 500;
            }
        }

        &-cart {
            padding: 15px 25px 8px;

            &__item {
                display: flex;
                justify-content: space-between;
                align-items: center;
                margin-bottom: 20px;
            }

            &__buy {
                display: flex;
                align-items: center;

                .icon-shopping-cart {
                    margin-right: 15px;

                    &::before {
                        font-size: 40px;
                        color: $yellow;
                    }
                }
            }

            &__price {
                color: #fff;
                font-size: 18px;
                font-weight: 600;
                margin-bottom: 5px;
            }

            &__quantity {
                color: $yellow;
            }

            &__close {
                .lnr-cross {
                    cursor: pointer;

                    &::before {
                        color: $yellow;
                        font-size: 20px;
                    }
                }

                span {
                    margin-top: 10px;
                    display: block;
                    text-transform: uppercase;
                    font-size: 10px;
                    font-weight: 500;
                }
            }

            &__links {
                background-color: $orange;
                height: auto;
                padding: 0 15px;

                a {
                    color: #fff;
                }
            }
        }

    }

    .search {
        form {
            height: 35px;
            position: relative;

            &::after {
                content: '\f00d';
                font-family: 'icomoon';
                position: absolute;
                right: 40px;
                color: #686868;
                top: 10px;
                cursor: pointer;
            }

            input {
                width: 100%;
                height: 100%;
                border: none;
                padding: 10px 55px 10px 20px;
                outline: none;
                position: relative;

                &::placeholder {
                    color: $text;
                    text-transform: uppercase;
                    font-size: 10px;
                    font-weight: 500;
                }
            }

            button {
                position: absolute;
                right: 0;
                border: none;
                width: 34px;
                height: 35px;
                background-color: $text;
            }

            .icon-search {
                cursor: pointer;

                &::before {
                    color: #fff;
                    font-size: 15px;
                }
            }
        }
    }

    .header__inner-poster {
        margin-top: 20px;
        background-color: $yellow;
        padding: 20px;
        height: 300px;
    }

    .poster-box {
        margin-top: 60px;

        &__title {
            font-size: 30px;
            text-transform: uppercase;
            font-weight: 700;
            margin-bottom: 20px;
        }

        &__text {
            font-size: 18px;
            line-height: 20px;
            font-weight: 600;
        }
    }

    //start product
    .product {
        position: relative;
        &__inner {
            background-color: #f8f8f8;
            padding-bottom: 25px;

            &-content {
                display: flex;
                z-index: 99;
            }
            &-box{
                position: relative;
                .arrow{
                    position: absolute;
                    border: none;
                    background-color: transparent;
                    z-index: 99;
                    top: -40px;
                }
                .next-arrow{
                    right: 35px;
                }
                .prev-arrow{
                    right: 70px;
                }
                .lnr-chevron-right,
                .lnr-chevron-left{
                    &::before{
                        color: #000;
                        font-size: 15px;
                    }
                }
            }
        }
    }


    .aside {
        width: 275px;
        margin-right: 25px;
        margin-top: -30px;
        z-index: 99;

        &__menu {
            position: relative;
            text-transform: uppercase;
            margin-bottom: 30px;
            width: 280px;

            &-title {
                height: 65px;
                padding: 0 40px;
                display: flex;
                align-items: center;
                color: #fff;
                background-color: #000;
                font-weight: 700;
                .lnr-chevron-down{
                    margin-left: 20px;
                    display: none;
                }
            }

            &-list {
                background-color: $sea;
                display: block;
                li {
                    padding: 15px 40px;
                    transition: all .3s;
                    cursor: pointer;

                    &:hover {
                        background-color: #000;

                        a {
                            color: #fff;
                        }
                    }

                    a {
                        font-weight: 700;
                        font-size: 14px;
                    }
                }
            }
            &-burger{
                width: 30px;
                height: 30px;
                position: absolute;
                top: 18px;
                right: 30px;
                display: none;
                span{
                    width: 100%;
                    height: 3px;
                    background-color: #fff51f;
                    margin-top: 5px;
                    display: block;
                    transition: all .5s;
                -webkit-transition: all .5s;
                -moz-transition: all .5s;
                -ms-transition: all .5s;
                -o-transition: all .5s;
                }
            }
        }

        .header__inner-poster {
            background-color: #e0e0e0;
            position: relative;
            margin-bottom: 30px;
        }

        .poster-box {
            margin-top: 0;
        }

        .poster-box__title {
            max-width: 90px;
            margin-bottom: 0;
            position: absolute;
            right: 30px;
            bottom: 70px;
        }

        &-tags {
            margin-bottom: 30px;
            padding: 30px;
            background-color: #fff;


            &__title {
                font-size: 24px;
                font-weight: 800;
                font-style: italic;
                margin-bottom: 25px;
                .lnr-chevron-down{
                    display: none;
                    // margin-left: 20px;
                    position: absolute;
                    right: 30px;
                    &::before{
                        font-size: 14px;
                        color: #000;
                    }
                }
            }

            &__box {
                display: flex;
                flex-wrap: wrap;
                margin-bottom: 20px;
                font-size: 14px;

                div {
                    padding: 10px 12px;
                    background-color: #e9e9e9;
                    cursor: pointer;
                    font-weight: 700;
                    @include transition;
                    font-size: 12px;

                    &:hover {
                        background-color: $yellow;
                    }

                    &+div {
                        margin-right: 10px;
                        margin-bottom: 10px;
                    }

                    &:nth-child(1) {
                        margin-right: 10px;
                        margin-bottom: 10px;
                    }
                }

                ul {
                    li {
                        color: #555;
                        cursor: pointer;
                        transition: all .3s;
                        -webkit-transition: all .3s;
                        -moz-transition: all .3s;
                        -ms-transition: all .3s;
                        -o-transition: all .3s;

                        &:hover {
                            color: #333333;
                            font-weight: 700;
                            transition: all .3s;
                            -webkit-transition: all .3s;
                            -moz-transition: all .3s;
                            -ms-transition: all .3s;
                            -o-transition: all .3s;
                        }

                        &+li {
                            margin-top: 20px;
                        }
                    }
                }

                .active {
                    background-color: $yellow;
                }
            }

            &__btn {
                font-size: 14px;
                @include boldItalic;

                a {
                    position: relative;
                    cursor: pointer;

                    &::after {
                        content: '\f178';
                        font-family: 'icomoon';
                        position: absolute;
                        margin-left: 10px;
                    }
                }
            }
        }
    }

    .product__inner-box {
        background-color: #f8f8f8;
        width: 870px;
        margin-top: -30px;
        overflow-x: hidden;
        z-index: 99;
    }

    .product__inner-descr {
        height: 75px;
        padding: 0 25px;
        display: flex;
        align-items: center;
    }

    .product__inner-title {
        font-size: 22px;
        @include boldItalic;
        color: #707070;
        text-transform: uppercase;
    }

   .slider-contents__items{
       display: flex;
       flex-wrap: wrap;
       justify-content: flex-start;
       margin-left: -25px;
   }
   .top__product-slider{
       margin-top: 30px;
   }
   .top__slider{
       position: relative;
       display: flex;
       flex-wrap: wrap;
       justify-content: flex-start;
       margin-left: -25px;
       div{
        .top__slider-item{
            flex-basis: calc(33.3% - 25px);
            margin-left: 25px;
            .product__item{
                margin-left: 0;
            }
        }
       }
   }

    .product__item {
        margin-bottom: 30px;
        flex-basis: calc(33.3% - 25px);
        margin-left: 25px;
        // width: 270px;
        background-color: #fff;
        padding: 12px;
        position: relative;
        cursor: pointer;
        height: 320px;
        &-img{
            width: 100%;
            height: 230px;
            background-repeat: no-repeat;
            background-position: top;
            background-size: cover;
        }

        &-category {
            position: absolute;
            right: 0;
            width: 0;
            top: 0;
            height: 0;
            border-top: 45px solid $orange;
            border-left: 45px solid transparent;
            display: none;

            span {
                font-size: 9px;
                position: absolute;
                display: block;
                top: -35px;
                left: -24px;
                color: #fff;
                text-transform: uppercase;
            }
        }

        &-info {
            display: flex;
            height: 80px;
            justify-content: space-between;
            padding: 20px 0;
            font-weight: 700;
            font-size: 14px;
        }

        &-price {

            .new-price,
            .old-price {
                font-size: 18px;
            }

            .old-price {
                margin-top: 5px;
                text-decoration: line-through;
                color: $orange;
                display: none;
            }
        }
    }

    .old-price.hot-price {
        display: block;
    }

    .product__item-category.hot {
        border-top: 45px solid $yellow;
        border-left: 45px solid transparent;
        display: block;
    }

    .product__item-category.new {
        display: block;
    }

    .product__carousel {
        margin-top: 50px;
    }


    //end product

    //start brand
    .brand {
        position: relative;
        margin-top: -1px;
        background-color: #f8f8f8;

        &__inner {
            background-color: #eaeaea;

            &-bun {
                background-repeat: no-repeat;
                background-position: center;
                background-size: auto;
                height: 160px;
                background-color: #fff;
            }

            &-title {
                padding: 40px 0 30px;
                font-weight: 800;
                font-style: italic;
                font-size: 22px;
                position: relative;
                display: flex;
                align-items: center;
                justify-content: center;

                .icon-instagram {
                    margin-right: 10px;

                    &::before {
                        font-size: 25px;
                    }
                }

                a {
                    font-size: 18px;
                }
            }

            &-posts {
                display: flex;
                justify-content: space-between;
                padding-bottom: 50px;
            }

            &-social {
                display: flex;
            }
        }

        .owl-nav {
            display: none;
        }

        &__item {
            cursor: pointer;
        }

        &__item-social {
            width: 33.3%;
            min-height: 150px;
            display: flex;
            justify-content: center;
            align-items: center;
        }

        .icon-facebook,
        .icon-twitter,
        .icon-pinterest-p {
            &::before {
                color: #fff;
                font-size: 60px;
            }
        }
    }

    .brand__item-face {
        background-color: #3b5997;
    }

    .brand__item-twi {
        background-color: #3fccfd;
    }

    .brand__item-pint {
        background-color: #cb2027;
    }

    //end brand

    //start footer
    .footer {
        z-index: 2;
        position: relative;

        &__inner {
            color: #fff;

            &-top {
                background-color: #373737;
            }

            &-bottom {
                background-color: $text;
            }

            &-box {
                display: flex;
                height: 45px;
                align-items: center;
                justify-content: space-between;

                .header__inner-social {
                    background-color: transparent;
                    padding: 0;

                    a {
                        &::before {
                            font-size: 15px;
                        }
                    }
                }
            }

            &-content {
                padding: 70px 0 60px;
                display: flex;
                justify-content: space-between;
                flex-wrap: wrap;
            }

            &-title {
                font-size: 18px;
                font-weight: 500;
                margin-bottom: 30px;
            }

            &-list {
                li {
                    a {
                        color: #fff;
                        line-height: 18px;
                        text-transform: capitalize;
                    }
                }
            }

            &-descr {
                line-height: 18px;
                margin-bottom: 15px;
            }

            &-item {
                width: 100%;

                form {
                    position: relative;

                    input {
                        width: 100%;
                        height: 30px;
                        padding: 0 75px 0 20px;
                        background-color: #fff51f;
                        border: none;
                        outline: none;

                        &::placeholder {
                            text-transform: uppercase;
                            font-weight: 700;
                            color: rgba(51, 51, 51, .5);
                        }
                    }

                    button {
                        position: absolute;
                        right: 0;
                        height: 30px;
                        text-transform: uppercase;
                        color: #fff;
                        background-color: #000;
                        cursor: pointer;
                        width: 70px;
                        border: none;
                    }
                }
            }

            &-pay {
                margin-top: 45px;

                a {
                    background-image: url(../img/footer/sprites.png);
                    background-repeat: no-repeat;
                    width: 38px;
                    height: 22px;

                    &+a {
                        margin-left: 5px;
                    }
                }
            }
        }

        .item-category {
            max-width: 120px;
        }

        .item-form {
            max-width: 280px;
        }

        .item-contacts {
            max-width: 240px;

            .footer__inner-descr {
                margin-bottom: 5px;
            }
        }
    }

    .bg-pay1 {
        background: 1px -0;
    }

    .bg-pay2 {
        background: -35px -0;
    }

    .bg-pay3 {
        background: -71px -0;
    }

    .bg-pay4 {
        background: -107px -0;
    }

    .bg-pay5 {
        background: -143px -0;
    }

    .bg-pay6 {
        background: -179px -0;
    }

    .footer__inner-contacts {
        a {
            color: #fff;
            font-size: 14px;
            line-height: 36px;
            font-weight: 500;

            span {
                margin-left: 15px;
                transition: all .3s;
                -webkit-transition: all .3s;
                -moz-transition: all .3s;
                -ms-transition: all .3s;
                -o-transition: all .3s;

                &:hover {
                    color: $yellow;
                }
            }
        }
    }


    //end footer
    //start apparel
    .apparel {
        .header__inner {
            position: inherit;
            height: 350px;
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;

            &-box {
                margin-top: 0;
            }
        }
    }

    //end apparel
    //start app
    .app {
        .product {
            &__inner {
                padding-bottom: 70px;
            }
        }

        .aside,
        .product__inner-box {
            margin-top: 0;
        }

        &__inner-box {
            .app__inner-navigation {
                padding-top: 30px;
                display: flex;
                justify-content: space-between;
                align-items: center;
            }
        }

        &__inner-breadcrumb {
            li {
                display: inline-block;
                color: #989898;
                font-weight: 500;
                padding: 5px 6px;
                position: relative;

                &::before {
                    content: '\f101';
                    font-family: 'icomoon';
                    position: absolute;
                    right: -5px;
                }

                &:last-child {
                    &::before {
                        content: none;
                    }
                }

                &+li {
                    margin-left: 5px;
                }

                a {
                    color: #989898;

                    &:hover {
                        color: #4d4d4d;
                        transition: all .3s;
                        -webkit-transition: all .3s;
                        -moz-transition: all .3s;
                        -ms-transition: all .3s;
                        -o-transition: all .3s;
                    }
                }
            }

            .active {
                background-color: $yellow;
                color: #4d4d4d;
            }
        }

        &__inner-back {
            a {
                color: #989898;
                position: relative;

                &:hover {
                    color: #4d4d4d;
                    transition: all .3s;
                    -webkit-transition: all .3s;
                    -moz-transition: all .3s;
                    -ms-transition: all .3s;
                    -o-transition: all .3s;
                }

                &::before {
                    content: '\f100';
                    font-family: 'icomoon';
                    position: absolute;
                    left: -10px;
                }
            }
        }

        &__inner-control {
            margin-top: 45px;
            height: 40px;
            display: flex;
            justify-content: space-between;
            align-items: center;

            .control-sort,
            .control-view,
            .control-show,
            .control-pagination {
                display: flex;
                align-items: center;
            }
        }
    }

    .control-sort {
        &__options {
            select {
                max-width: 95px;
            }
        }
    }

    .control-view {
        &__btns {

            .icon-th-large,
            .icon-th-list {
                border: none;
                background-color: transparent;
                cursor: pointer;

                &::before {
                    color: #c0c0c0;
                    font-size: 18px;
                }
            }

            .active {
                &::before {
                    color: $sea;
                }
            }
        }
    }

    .control-show {
        &__options {
            select {
                width: 65px;
                margin-right: 15px;
            }
        }
    }

    .control-pagination {
        &__list {
            li {
                display: inline-block;
                background-color: transparent;

                &+li {
                    margin-left: 5px;
                }

                a {
                    font-size: 14px;
                    font-weight: 600;
                    color: #333333;
                    padding: 6px 10px;
                    background-color: transparent;
                }

            }

            .lnr-chevron-right {
                &::before {
                    color: #a9a9a9;
                }
            }

            .active {
                background-color: $sea;
                color: #fff;
            }
        }
    }

    .app__inner-products {
        margin-top: 25px;
        display: flex;
        justify-content: flex-start;
        margin-left: -30px;
        flex-wrap: wrap;

        .product__item {
            flex-basis: calc(33.3% - 30px);
            margin-left: 30px;
            width: 0;
            transition: all .5s;
            -webkit-transition: all .5s;
            -moz-transition: all .5s;
            -ms-transition: all .5s;
            -o-transition: all .5s;

            &-img {
                overflow: hidden;
            }

            &-text {
                display: none;
            }

            &-link {
                display: none;
            }
        }

        .active {
            flex-basis: calc(100% - 30px);
            height: auto;
            transition: all .5s;
            -webkit-transition: all .5s;
            -moz-transition: all .5s;
            -ms-transition: all .5s;
            -o-transition: all .5s;

            .product__item {
                &-text {
                    display: block;
                }

                &-descr {
                    display: flex;
                }

                &-img {
                    width: 100%;
                }

                &-info {
                    display: block;
                    margin-left: 30px;
                    height: auto;
                }

                &-name {
                    text-transform: uppercase;
                    margin-bottom: 20px;
                }

                &-text {
                    font-weight: 500;
                    color: #707070;
                    line-height: 16px;
                    margin-bottom: 20px;
                }

                &-link {
                    display: block;
                    font-weight: 500;
                    text-align: right;
                    position: relative;
                    padding-right: 20px;

                    &::before {
                        content: '\f105';
                        font-family: 'icomoon';
                        position: absolute;
                        right: 0;
                    }

                    &:hover {
                        a {
                            color: $sea;
                            transition: all .3s;
                            -webkit-transition: all .3s;
                            -moz-transition: all .3s;
                            -ms-transition: all .3s;
                            -o-transition: all .3s;
                        }

                        &::before {
                            color: $sea;
                            transition: all .3s;
                            -webkit-transition: all .3s;
                            -moz-transition: all .3s;
                            -ms-transition: all .3s;
                            -o-transition: all .3s;
                        }
                    }
                }
            }
        }
    }

    .app__inner-control.control_bottom {
        margin-top: 0;
    }

    .aside__options-menu {
        display: none;
    }

    .actives {
        background-color: #000;

        a {
            color: #fff;
        }
    }

    //end app

    //start more
    .more {
        &__inner {
            &-info {
                margin: 50px 0 45px;
                display: flex;
            }

            &-slider {
                max-width: 375px;
            }

            &-options {
                margin-left: 45px;
            }
        }
    }

    .options__name {
        color: #353535;
        font-weight: 700;
        font-size: 24px;
        text-transform: uppercase;
        margin-bottom: 10px;
    }

    .options__rate {
        display: flex;
        align-items: center;
        margin-bottom: 35px;

        .jq-ry-container {
            padding: 0;
        }

        span {
            color: #353535;
            font-weight: 600;
            display: block;
            margin-left: 10px;
        }
    }

    .slider-for {
        margin-bottom: 25px;
    }

    .slider-nav {
        display: flex;
        justify-content: flex-start;
        margin-left: -30px;
        max-width: 270px;
        margin: 0 auto;

        .next-arrow {
            top: 50%;
            right: -50px;
        }

        .prev-arrow {
            top: 50%;
            left: -50px;
        }

        &__item {
            img {
                margin: 0 auto;
            }
        }
    }

    .options__box {
        display: flex;
        justify-content: space-between;
        align-items: center;

        &-price {
            font-size: 22px;
            font-weight: 500;
        }
    }

    .options__box-title {
        color: #666669;

        span {
            color: #000;
            margin-left: 5px;
            font-weight: 500;
        }
    }

    .options__descr {
        &-text {
            color: #707070;
            line-height: 20px;
        }
    }

    .options__size {
        margin-bottom: 20px;

        &-chart {
            display: flex;

            span {
                width: 25px;
                height: 30px;
                background-color: #fff;
                display: flex;
                justify-content: center;
                align-items: center;
                cursor: pointer;
                font-weight: 500;

                &+span {
                    margin-left: 10px;
                }
            }

            .active {
                color: #ff4a4a;
            }
        }
    }

    .options__quantity {
        display: flex;
        justify-content: space-between;

        &-calc {
            span {
                margin-bottom: 5px;
                line-height: 20px;
                font-weight: 500;
            }

            form {
                display: flex;
                align-items: center;

                input {
                    width: 30px;
                    height: 30px;
                    border: 1px solid #efefef;
                    text-align: center;
                    outline: none;

                    &::placeholder {
                        color: #9b9b9b;
                    }
                }

                .icon-plus1 {
                    border: none;
                    background-color: transparent;
                    cursor: pointer;

                    &::before {
                        color: #aaaaaa;
                        font-size: 20px;
                    }
                }
            }
        }

        &-cart {
            a {
                width: 130px;
                padding: 18px 10px;
                background-color: #fb4d01;
                text-align: center;
                color: #fff;
                text-transform: uppercase;
                font-size: 16px;
                font-weight: 500;
            }
        }

        &-list {
            ul {
                li {
                    color: #353535;
                    line-height: 20px;
                    font-weight: 600;
                    cursor: pointer;
                    position: relative;
                    padding-left: 15px;

                    &::before {
                        content: '\e900';
                        position: absolute;
                        font-family: 'icomoon';
                        font-size: 12px;
                        left: 0;
                    }
                }
            }
        }
    }

    .more__tabs {
        .tab-item {
            display: none;
            color: #808080;
            line-height: 20px;

            p {
                margin-bottom: 20px;
            }

            &:first-child {
                display: block;
            }
        }

        .tabs {
            height: 35px;

            .tab {
                width: 160px;
                padding: 15px 10px;
                text-transform: uppercase;
                font-weight: 600;
                cursor: pointer;
            }

            .active {
                background-color: $sea;
            }
        }

        .tab_content {
            border: 1px solid #d6d4d4;
            padding: 12px 13px;
            margin-top: -4px;
        }
    }

    .more-slider {
        margin-top: 100px;
        // overflow-x: hidden;

        &__title {
            font-size: 30px;
            font-weight: 800;
            text-transform: uppercase;
            margin-bottom: 35px;
        }

        &-box {
            display: flex;
            justify-content: flex-start;
            flex-wrap: wrap;
            // margin-left: - 30px;

            .arrow {
                top: 50%;
                z-index: 99;
                background-color: $sea;
                height: 40px;
                margin-top: -40px;
            }

            .prev-arrow {
                left: -10px;
            }

            .next-arrow {
                right: 0;
            }
        }

        &__item {
            flex-basis: calc(33.3% - 30px);
            // margin-left: 30px;
        }
    }

    .view-slider {
        .more-slider-box {
            .arrow {
                background-color: $yellow;
            }
        }
    }


    //end more

    //start shop
    .shop {

        .aside,
        .product__inner-box {
            margin-top: -130px;
        }

        .product__inner-box {
            padding: 0 15px;
        }
    }

    .shop__tabs.more__tabs {
        margin-top: 30px;

        .tab_content {
            border: none;
            padding: 0;

            .tab-item__content {
                display: grid;
                grid-template-columns: 4fr 2fr;
                // grid-template-rows: [row-1] 390px;
                grid-column-gap: 10px;
                padding-bottom: 15px;
                border-bottom: 1px solid #e8e8e8;

                .tab-item__product {
                    display: grid;
                    grid-template-rows: 20px 325px 120px;
                }

                .tab-item__value {
                    display: grid;
                    grid-template-columns: 3fr 1fr 1fr 1fr;
                    border-bottom: 1px solid #e6e6e6;

                    span {
                        font-weight: 600;
                        text-transform: uppercase;
                        text-align: center;
                    }
                }
            }
        }

        .tabs {
            margin-bottom: 33px;

            .tab {
                width: 100%;
                font-size: 24px;
                color: #aaaaaa;
                font-weight: 500;
                padding: 0;
                padding-left: 40px;
                position: relative;

                &::before {
                    content: '1';
                    position: absolute;
                    width: 30px;
                    height: 30px;
                    border: 1px solid #afafaf;
                    border-radius: 50%;
                    -webkit-border-radius: 50%;
                    -moz-border-radius: 50%;
                    -ms-border-radius: 50%;
                    -o-border-radius: 50%;
                    color: #afafaf;
                    left: 0;
                    text-align: center;
                    font-size: 22px;
                }

                &+.tab {
                    margin-left: 35px;
                }

                &:nth-child(2) {
                    &::before {
                        content: '2';
                    }
                }

                &:last-child {
                    &::before {
                        content: '3';
                    }
                }
            }

            .active {
                background-color: transparent;
                color: #ff0101;

                &::before {
                    color: #ff0101;
                    border: 1px solid #ff0101;
                }
            }
        }
    }

    .select__item {
        position: relative;
        border-bottom: 1px solid #e6e6e6;
        padding: 15px 0;

        .lnr-cross {
            position: absolute;
            right: -10px;
            top: 15px;
            border: none;
            background-color: transparent;

            &::before {
                color: #ff0101;
                font-size: 20px;
                cursor: pointer;
            }
        }

        &-content {
            display: grid;
            grid-template-columns: 3fr 1fr 1fr 1fr;
        }

        &-descr {
            display: flex;
        }

        &-img {
            margin-right: 15px;
        }

        &-name {
            font-size: 14px;
            color: #353535;
            font-weight: 700;
            text-transform: uppercase;
            margin-bottom: 5px;
        }

        &-text {
            font-weight: 500;
            color: #707070;
            line-height: 16px;
            margin-bottom: 10px;
        }

        &-social {
            .header__inner-social {
                a {
                    &::before {
                        color: #000;
                        font-size: 15px;
                    }
                }
            }
        }

        &-price {
            font-size: 14px;
            color: #666669;
            text-align: center;
            font-weight: 500;
        }

        &-qty {
            margin: 0 auto;

            form {
                width: 70px;
                display: flex;
                align-items: center;

                input {
                    border: 1px solid #f0f0f0;
                    width: 30px;
                    text-align: center;
                    cursor: pointer;
                    outline: none;
                    padding: 8px 0;
                    margin: 0 9px;

                    &::placeholder {
                        text-align: center;
                    }
                }

                button {
                    width: 12px;
                    border: none;
                    outline: none;
                    cursor: pointer;
                    background-color: #fff;
                    height: 18px;
                    display: flex;
                    justify-content: center;
                    align-items: center;

                    &::before {
                        color: #8a8a8a;
                    }
                }
            }
        }
    }

    .tab-item__review {
        background-color: $orange;
        height: 390px;
    }

    .review-box {
        padding: 25px 20px 50px;
        color: #fff;
        text-transform: uppercase;

        &__title {
            text-align: center;
            font-size: 16px;
            font-weight: 800;
            margin-bottom: 50px;
        }

        &__total {
            &-info {
                display: flex;
                justify-content: space-between;
                margin-bottom: 30px;

                &:last-child {
                    margin-bottom: 60px;

                    span {
                        font-size: 16px;
                    }
                }

                span {
                    display: block;
                    font-weight: 700;
                }
            }
        }

        &__check {
            text-align: center;

            a {
                text-align: center;
                width: 230px;
                padding: 9px 10px;
                background-color: $text;
                font-size: 28px;
                font-weight: 700;
                color: #fff;
            }
        }
    }

    .tab-item__insert {
        .insert__box {
            display: flex;
            justify-content: space-between;
            margin-top: 14px;

            form {
                input {
                    width: 240px;
                    border: 1px solid #e6e6e6;
                    padding: 14px 9px;
                    outline: none;

                    &::placeholder {
                        color: #a8a8a8;
                        text-transform: uppercase;
                        font-weight: 500;
                    }
                }
            }

            .insert__btn {
                span {
                    display: block;
                    text-decoration: underline;
                    font-style: italic;
                    text-align: right;
                }

                button {
                    cursor: pointer;
                    width: 230px;
                    background-color: $text;
                    text-align: center;
                    padding: 12px 10px;
                    color: #fff;
                    text-transform: uppercase;
                    margin-bottom: 10px;
                }
            }
        }

    }

    .insert__title {
        font-size: 16px;
        font-weight: 500;
        font-style: italic;
        text-transform: uppercase;
        margin-top: 20px;
    }

    .tab-item__sign {
        margin-top: 70px;
        display: grid;
        grid-template-columns: 2fr 2fr 2fr;
        grid-column-gap: 50px;
        padding-bottom: 65px;
        border-bottom: 1px solid #e8e8e8;
        margin-bottom: 35px;
    }

    .sign-box {
        &__title {
            font-size: 24px;
            font-weight: 500;
            text-transform: uppercase;
            max-width: 170px;
            line-height: 38px;

            span {
                font-weight: 700;
                font-size: 36px;
            }
        }

        &__conditions {
            line-height: 16px;
            max-width: 228px;
            padding-bottom: 7px;
            border-bottom: 1px solid #efefef;
            margin-bottom: 20px;

            span {
                color: #000;
                font-weight: 700;
            }
        }

        &__check {
            display: flex;
            align-items: center;
            margin-bottom: 10px;

            span {
                color: #555555;
                text-transform: uppercase;
                font-weight: 500;
                margin-left: 9px;
            }
        }

        &__advantage {
            padding-bottom: 7px;
            border-bottom: 1px solid #efefef;
            margin-bottom: 17px;

            span {
                color: #353535;
                line-height: 20px;
                font-weight: 700;
                display: block;
            }

            ul {
                margin-left: 15px;
                margin-top: 20px;

                li {
                    list-style: outside;
                }
            }
        }

        .review-box__check {
            a {
                width: 200px;
                font-size: 18px;
                text-transform: uppercase;
                display: block;
            }
        }
    }

    .login-box {
        &__question {
            font-weight: 700;
            color: #808080;
            line-height: 20px;
            max-width: 115px;
            margin-bottom: 20px;

            span {
                color: #353535;
            }
        }

        form {
            label {
                display: block;
                position: relative;
                font-weight: 700;
                line-height: 20px;
                color: #353535;
                margin-bottom: 5px;
                padding-right: 10px;

                &::after {
                    content: '*';
                    position: absolute;
                    color: #ff4a4a;
                    font-size: 20px;
                }
            }

            input {
                border: 1px solid #efefef;
                width: 100%;
                padding: 11px 10px;
                margin-bottom: 15px;
                outline: none;
            }
        }

        .review-box__check {
            margin-top: 46px;
            width: 200px;
            font-size: 18px;
            text-transform: uppercase;
            display: block;
        }

        &__req {
            display: flex;
            justify-content: space-between;

            span {
                font-size: 11px;
                color: #ff4a4a;
            }

            a {
                text-decoration: underline;
                font-style: italic;
            }
        }
    }

    .personal-data {
        display: grid;
        grid-template-columns: 4fr 2fr;
        grid-column-gap: 30px;

        &__title {
            font-size: 16px;
            color: #333333;
            font-weight: 700;
            text-transform: uppercase;
            margin-bottom: 55px;
        }

        &__forms {
            display: grid;
            grid-template-columns: 2fr 2fr;
            grid-column-gap: 30px;
        }

        &__item {
            form {
                label {
                    color: #333333;
                    text-transform: uppercase;
                    position: relative;
                    padding-right: 7px;
                    font-weight: 700;
                    margin-bottom: 5px;
                    margin-top: 38px;
                    display: inline-block;

                    &:first-child {
                        margin-top: 0;
                    }

                    &::before {
                        content: '*';
                        position: absolute;
                        color: $text;
                        right: 0;
                        font-size: 20px;
                    }
                }

                input,
                select {
                    display: block;
                    border: 1px solid #dfdfdf;
                    width: 100%;
                    padding: 11px 10px;
                    outline: none;
                    font-size: 14px;

                    &::placeholder {
                        color: #aaaaaa;
                        font-size: 12px;
                    }
                }
            }
        }

        &__agreement {
            margin-top: 30px;
            display: flex;
            justify-content: space-between;
            align-items: center;
        }

        &__button {
            button {
                width: 30px;
                height: 30px;
                background-color: $sea;
                border: none;
                cursor: pointer;

                span {
                    display: none;

                    &::before {
                        font-size: 20px;
                        color: #fff;
                    }
                }
            }
        }

        &__descr {
            text-transform: uppercase;
        }

    }

    #firstname,
    #addressone {
        margin-bottom: 10px;
    }

    .personal-data__code {
        .personal-data__number {
            display: flex;

            select {
                width: 90px;
                margin-right: 10px;
                font-size: 14px;
            }
        }
    }

    .personal-data__date {
        display: flex;

        select {
            width: 110px;

            &+select {
                margin-left: 10px;
            }
        }
    }

    .personal__data-secure {
        position: relative;

        span {
            display: block;
            color: #333333;
            font-weight: 600;
            font-style: italic;
            text-decoration: underline;
            margin-top: 15px;
            cursor: pointer;
        }

        .personal__data-answer {
            position: absolute;
            background-color: #fff;
            z-index: 99;
            padding: 10px 15px;
            margin-top: 10px;
            line-height: 20px;
            display: none;
        }
    }

    .personal-data__subtitle {
        display: block;
        font-weight: 600;
        font-style: italic;
        margin-top: 49px;
        cursor: pointer;
    }

    .personal-data__order {
        margin-top: 55px;
        display: grid;
        grid-template-columns: 4fr 2fr;

        .personal-data__text {
            line-height: 20px;
        }

        .review-box__check {
            a {
                font-size: 16px;
                text-transform: uppercase;
                font-weight: 500;
            }
        }
    }


    //end shop

    //start contacts
    .contacts {
        .header__inner-social {
            background-color: rgba(193, 193, 193, .8);
            padding: 10px 15px;
        }
    }

    .contacts__inner-box {
        .contacts__inner-info {
            margin-top: 80px;
            display: flex;
        }

        .contacts__inner-form {
            padding-right: 25px;
            position: relative;

            &::before {
                content: '';
                position: absolute;
                height: 330px;
                width: 1px;
                background-color: #e5e5e5;
                right: 0;
                top: 60px;
            }

            form {
                width: 345px;

                label {
                    display: block;
                    font-weight: 600;
                    text-transform: uppercase;
                    margin-bottom: 10px;
                }

                input {
                    width: 100%;
                    padding: 8px 10px;
                    border: 1px solid #efefef;
                    margin-bottom: 30px;
                    outline: none;

                    &::placeholder {
                        color: #aaaaaa;
                    }
                }

                textarea {
                    resize: none;
                    outline: none;
                    width: 100%;
                    height: 145px;
                    border: 1px solid #efefef;
                    padding: 8px 10px;
                }
            }
        }

        .contacts__inner-location {
            margin-left: 25px;

            .contacts__inner-title {
                font-size: 18px;
                font-weight: 800;
                color: #353535;
                text-transform: capitalize;
                margin-bottom: 15px;
            }

            .contacts__inner-subtitle {
                color: #818181;
                max-width: 185px;

                p {
                    &+p {
                        margin-top: 10px;
                    }

                    &:last-child {
                        margin-bottom: 20px;
                    }
                }

                span {
                    margin: 0 10px 0 5px;
                    float: left;

                    &::before {
                        font-size: 25px;
                        color: #000;
                    }
                }
            }

            a {
                display: block;
                padding-left: 30px;
                font-size: 20px;
                font-weight: 700;
                margin-bottom: 15px;
                position: relative;

                &::before {
                    content: '\f095';
                    font-family: 'icomoon';
                    position: absolute;
                    font-size: 20px;
                    left: 0;
                }
            }

            .contacts__inner-mail {
                margin-bottom: 30px;

                &::before {
                    content: '\f003';
                }
            }

            .contacts__inner-descr {
                max-width: 375px;
                font-weight: 500;
            }
        }
        .contacts__inner-btn{
            width: 100%;
            padding: 15px 10px;
            margin-top: 40px;
            border: none;
            text-transform: uppercase;
            background-color: $text;
            color: #fff;
            cursor: pointer;
        }
    }

    //end contacts


    @import 'media';